<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Codilarity</title>
    <meta name="description" content="Codilarity">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/select2/select2.min.css">
    <link rel="stylesheet" href="/vendor/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendor/lightcase/lightcase.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Work+Sans:300,400,700" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.min.css">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Modernizr JS for IE8 support of HTML5 elements and media queries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
</head>
<body data-spy="scroll" data-target="#navbar" class="static-layout">
	<nav id="header-navbar" class="navbar navbar-expand-lg py-4">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center text-white" href="index.html">
            <h3 class="font-weight-bolder mb-0">Codilarity</h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav-header" aria-controls="navbar-nav-header" aria-expanded="false" aria-label="Toggle navigation">
            <span class="lnr lnr-menu"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-nav-header">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/UI/index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Workspace</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/UI/manual">Manual</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/UI/login">Sign In</a>
                </li>
                <li class="nav-item">
                    <a id="side-search-open" class="nav-link" href="#">
                        <span class="lnr lnr-magnifier"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron-single d-flex align-items-center" style="background: -webkit-linear-gradient(to right, rgb(243, 18, 207), rgb(0, 178, 255));background: linear-gradient(to right, rgb(243, 18, 207), rgb(0, 178, 255));">
    <div class="container text-center">
      <h1 class="display-2 mb-4" style="padding-top: 150px;">Manual</h1>
    </div>
</div>
<section id="features" class="bg-black">
    <div class="container" style="padding: 30px; width:100%;">
        <div class="shadow1 rounded feature-item p-4 mb-4 row" data-aos="fade-up">
            <p class="column vertical-center">Code Flipper</p>
            <p class="column">Code Flipper allows you to flip the code between variety of languages. You can choose to flip the code between Javascript, Typescript, C++, Python and Java. The code is converted to the desired language by using a powerful AI model. It is capable of understanding each and every variable meaning of your code. This helps a lot in converting the code. On an interesting note, using code flipper supports all language available on GitHub, which means you can use it to convert the code from any language on GitHub.</p>
        </div>
        <div class="shadow1 rounded feature-item p-4 mb-4 row" data-aos="fade-up">
            <p class="column vertical-center">Code Flipper</p>
            <p class="column">Code Flipper allows you to flip the code between variety of languages. You can choose to flip the code between Javascript, Typescript, C++, Python and Java. The code is converted to the desired language by using a powerful AI model. It is capable of understanding each and every variable meaning of your code. This helps a lot in converting the code. On an interesting note, using code flipper supports all language available on GitHub, which means you can use it to convert the code from any language on GitHub.</p>
        </div>
        <div class="shadow1 rounded feature-item p-4 mb-4 row" data-aos="fade-up">
            <p class="column vertical-center">Code Flipper</p>
            <p class="column">Code Flipper allows you to flip the code between variety of languages. You can choose to flip the code between Javascript, Typescript, C++, Python and Java. The code is converted to the desired language by using a powerful AI model. It is capable of understanding each and every variable meaning of your code. This helps a lot in converting the code. On an interesting note, using code flipper supports all language available on GitHub, which means you can use it to convert the code from any language on GitHub.</p>
        </div>
        <div class="shadow1 rounded feature-item p-4 mb-4 row" data-aos="fade-up">
            <p class="column vertical-center">Code Flipper</p>
            <p class="column">Code Flipper allows you to flip the code between variety of languages. You can choose to flip the code between Javascript, Typescript, C++, Python and Java. The code is converted to the desired language by using a powerful AI model. It is capable of understanding each and every variable meaning of your code. This helps a lot in converting the code. On an interesting note, using code flipper supports all language available on GitHub, which means you can use it to convert the code from any language on GitHub.</p>
        </div>
    </div>
</section>
<section id="cta" class="bg-fixed overlay" style="background: -webkit-linear-gradient(to right, rgb(243, 18, 207), rgb(0, 178, 255));background: linear-gradient(to right, rgb(243, 18, 207), rgb(0, 178, 255));">
    <div class="container">
        <div class="section-content" data-aos="fade-up">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="mb-2">Powered by Nextap!</h2>
                    <p>Visit us to be on the cutting edge of AI.</p>
                    <a class="btn btn-outline-primary btn-lg" href="https://nextapai.com/">Visit our website</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Features Section--></div>
<footer class="mastfoot my-3">
    <div class="inner container">
         <div class="row">
         	<div class="col-lg-4 col-md-12 d-flex align-items-center">
         		
         	</div>
         	<div class="col-lg-4 col-md-12 d-flex align-items-center">
         		<p class="mx-auto text-center mb-0">&copy; 2021 nextapai</p>
         	</div>
           
            <div class="col-lg-4 col-md-12">
            	<nav class="nav nav-mastfoot justify-content-center">
	                <a class="nav-link" href="#">
	                	<i class="fab fa-facebook-f"></i>
	                </a>
	                <a class="nav-link" href="#">
	                	<i class="fab fa-twitter"></i>
	                </a>
	                <a class="nav-link" href="#">
	                	<i class="fab fa-instagram"></i>
	                </a>
	                <a class="nav-link" href="#">
	                	<i class="fab fa-linkedin"></i>
	                </a>
	                <a class="nav-link" href="#">
	                	<i class="fab fa-youtube"></i>
	                </a>
	            </nav>
            </div>
            
        </div>
    </div>
</footer>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
	<script src="/vendor/bootstrap/popper.min.js"></script>
	<script src="/vendor/bootstrap/bootstrap.min.js"></script>
	<script src="/vendor/select2/select2.min.js "></script>
	<script src="/vendor/owlcarousel/owl.carousel.min.js"></script>
	<script src="/vendor/stellar/jquery.stellar.js" type="text/javascript" charset="utf-8"></script>
	<script src="/vendor/isotope/isotope.min.js"></script>
	<script src="/vendor/lightcase/lightcase.js"></script>
	<script src="/vendor/waypoints/waypoint.min.js"></script>
	 <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	 
	<!-- Main JS -->
	<script src="/js/app.min.js "></script>
	<script src="//localhost:35729/livereload.js"></script>
</body>
</html>